<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="produweb_grid_slider_listing_data_source" xsi:type="string">Produweb\Grid\Model
                    \ResourceModel\Slider\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Produweb\Grid\Model\ResourceModel\Slider\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">produweb_grid</argument>
            <argument name="resourceModel" xsi:type="string">Produweb\Grid\Model\ResourceModel\Slider</argument>
        </arguments>
    </virtualType>
</config>
